{% extends "base.html" %}
{% load utils %}
{% block content %}

<div class="row">
    {% for auc in auctions %}
        {% ifchanged auc.is_active %}
    </div>
    <hr>
    <div class="row">
        {% endifchanged %}
        <div class="col-sm-4">
            <div class="panel panel-{{ auc|auction_class:user.player.team }}">
                <div class="panel-heading">
                    {{ auc }}
                </div>
                <div class="panel-body">
                    <p>{{ auc.description }}</p>
                    <p>(TODO: obrázkové znázornění)</p>
                    <hr>
                    <p><i>{{ auc|auction_status:user.player.team }}</i></p>
                    <p><i>{{ auc.end|gametime:"Aukce končí %(natural)s.;Aukce už skončila.;Nabídka zatím spí." }}</i></p>
                </div>
                <div class="panel-footer text-center">
                    <a href="{% url "detail" auc.id %}">detail</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}