{% extends "base.html" %}
{% load utils bootstrap %}
{% block content %}

<h2>{{ auc }}</h2>
<p>{{ auc.description|default:"" }}</p>

<div class="row">
    <div class="col-md-6">

        <dl class="dl-horizontal">
            <dt>Prodejce:</dt>
            <dd>{{ seller_name }}</dd>
            {% if current_amount > 0 %}
                <dt>Aktuální cena:</dt>
            {% else %}
                <dt>Aktuální nabídka:</dt>
            {% endif %}
            <dd>{{ current_amount|quantity:auc.var_entity }}</dd>
            <dt>Končí:</dt>
            <dd>{{ auc.end|gametime }}</dd>
        </dl>
    </div>
    {% if is_mine %}
        <div class="col-md-4">
            <h3>Aukce se účastní:</h3>
                <table class="table">
                {% for bid in bids %}
                    <tr>
                        <td>{{ bid.team }}</td>
                        <td>{{ bid.amount|abs }}</td>
                    </tr>
                {% empty %}
                    <tr>
                    <td>Zatím nikdo.</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <div class="col-md-6">
            <p><strong>Může to být vaše!</strong></p>
            {% if current_amount > 0 %}
                <p>Nabídněte alespoň {{ minimum|quantity:auc.var_entity }}.</p>
            {% else %}
                <div class="alert alert-info">Toto je "opačná" aukce. Prodávající nabízí, vyhrává tým kterému stačí nejméně.</div>
                <p>Požadujte nejvýše {{ minimum|quantity:auc.var_entity }}.</p>
            {% endif %}
            <form action="{% url "detail" auc.id %}" method="post" class="form-inline">
                {% csrf_token %}
                {{ form|bootstrap_inline }}
                <div class="form-group">
                    <input type="submit" value="přihodit" class="btn-success btn btn-block">
                </div>
            </form>
        </div>
    {% endif %}
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Nabízí:</h3>
        <ul>
        {% for ai in auc.visible_sells %}
            <li>{{ ai.amount|quantity:ai.entity }}</li>
        {% empty %}
            <li>Prodávající nic nenabízí.</li>
        {% endfor %}
        </ul>
    </div>

    <div class="col-md-4">
        <h3>Požaduje:</h3>
        <ul>
        {% for ai in auc.visible_wants %}
            <li>{{ ai.amount|quantity:ai.entity }}</li>
        {% empty %}
            <li>Prodávající nic nepožaduje.</li>
        {% endfor %}
        </ul>
    </div>

</div>


{% endblock %}