{% extends "base.html" %}
{% load utils bootstrap %}
{% block content %}

<h2>{{ auc }}</h2>
<p>{{ auc.description|default:"" }}</p>

<div class="row">
    <div class="col-md-6">

        <table class="table">
            <tr>
                <th>Prodejce:</th>
                <td>{{ seller_name }}</td>
            </tr>
            <tr>
                <th>Nabízí:</th>
                <td>
                    {% for ai in auc.visible_sells %}
                        {{ ai.amount|quantity:ai.entity }}
                    {% empty %}
                        (nic)
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Požaduje:</th>
                <td>
                        {% for ai in auc.visible_wants %}
                            {{ ai.amount|quantity:ai.entity }}
                        {% empty %}
                            (nic)
                        {% endfor %}
                </td>
            </tr>
            <tr>
                {% if current_amount > 0 %}
                    <th>Vyvolávací cena:</th>
                {% else %}
                    <th>Vyvolávací nabídka:</th>
                {% endif %}
                <td>{{ auc.var_min|quantity:auc.var_entity }}</td>
            </tr>
            {% if auc.end %}
            <tr>
                <th>Končí:</th>
                <td>{{ auc.end|gametime }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Nejvyšší nabídka:</th>
            {% if auc.effective_offer.0 %}
                <td>{{ auc|effective_offer }}</td>
            {% else %}
                <td>zatím nikdo nepřihazuje</td>
            {% endif %}
            </tr>
        </table>
    </div>
    {% if is_mine %}
        <div class="col-md-4">
            <h3>Aukce se účastní:</h3>
                <table class="table">
                {% for bid in bids %}
                    <tr>
                        <td>{{ bid.team }}</td>
                        <td>{{ bid.amount|abs }}</td>
                    </tr>
                {% empty %}
                    <tr>
                    <td>Zatím nikdo.</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <div class="col-md-6">
            {% if auc.effective_offer.winner == team %}
                <p><strong>Gratuluji! Zatím vyhráváte!</strong></p>
            {% else %}
                <p><strong>Může to být vaše!</strong></p>
            {% endif %}
            {% if current_amount > 0 %}
                <p>Nabídněte alespoň {{ minimum|quantity:auc.var_entity }}.</p>
            {% else %}
                <div class="alert alert-info">Toto je "opačná" aukce. Prodávající nabízí, vyhrává tým kterému stačí nejméně.</div>
                <p>Požadujte nejvýše {{ minimum|quantity:auc.var_entity }}.</p>
            {% endif %}
            <form action="{% url "detail" auc.id %}" method="post" class="form-inline">
                {% csrf_token %}
                {{ form|bootstrap_inline }}
                <div class="form-group">
                    <input type="submit" value="přihodit" class="btn-success btn btn-block">
                </div>
            </form>
            {% if team_bid %}
                <p>Vaše poslední nabídka je {{ team_bid.amount|quantity:auc.var_entity }}.</p>
            {% endif %}
        </div>
    {% endif %}
</div>

<h3>Inventář</h3>
{% include "core/team_inventory.html" %}


{% endblock %}