{% extends "base.html" %}
{% load utils %}
{% block title %}Předmět {{ entity.name }}{% endblock %}
{% block content %}

<h2>{{ entity.name }}{{ entity|entity_icon }}</h2>

{% if licences|length > 0 %}
<p>
    Abyste mohli vlastnit tento předmět, musíte nejdříve mít:
    <ul>
    {% for licence in licences %}
        <li>{{ licence|entity_link }}</li>
    {% endfor %}
    </ul>
</p>
{% endif %}

{% if perms.core.control_game  %}
<div class="well">
    {% if entity.is_makable %}Entita se dá vytvořit.{% endif %}
    {% if entity.is_minable %}Entita se dá získat z lístečků.{% endif %}
    {% if entity.is_markatable %}Entita se dá koupit na trhu.{% endif %}
</div>
{% endif %}

{% if entity.is_strategic %}
<p>Tento předmět je <strong>strategický</strong>.</p>
{% endif %}

<p>
{% if balances|length > 0 %}
Je vlastněn týmy:
    <ul>
    {% for balance in balances %}
       <li>{{ balance.team.name }} ({{ balance.amount }} {{ balance.entity.units }})</li>
    {% endfor %}
    </ul>
{% else %}
Tento předmět žádný tým nevlastní.
{% endif %}
</p>

<p>
{% if auctions|length > 0 %}
Předmětu se týkají tyto aukce:
    <ul>
    {% for auction in auctions %}
    <li><a href="{% url 'detail' auction.id %}">{{ auction.concrete_auction }}</a></li>
    {% endfor %}
    </ul>
{% else %}
Předmět není v žádných aukcích.
{% endif %}
</p>

<p>
{% if recipes|length > 0 %}
Předmětu se týkají tyto recepty:
    <ul>
    {% for recipe in recipes %}
    <li><a href="{% url "recipes:detail" recipe.id %}">{{ recipe.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
Předmětu se netýkají žádné recepty.
{% endif %}
</p>


{% endblock %}
