{% extends "base.html" %}
{% block title %}Tým {{ team.name }}{% endblock %}
{% block content %}

<h2><small>Tým</small> {{ team.name }}</h2>

<p>Vítejte ve hře.</p>

<div class="alert alert-danger">TODO nápověda</div>

<hr>
<h3>Inventář</h3>

<table class="table table-balance">
    <thead>
    <tr>
        <th>Předmět</th>
        <th>Disponibilní množství</th>
        <th>Blokované množství</th>
        <th>Celkové množství</th>
    </tr>
    </thead>
    <tbody>
        {% for balance in inventory %}
        <tr class="{{ balance.entity.css_class }}">
            <th>{{ balance.entity.name }}</th>
            <td>{{ balance.amount }}</td>
            <td>{{ balance.blocked }}</td>
            <th>{{ balance.total }}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
