
<table class="table table-balance">
    <thead>
    <tr>
        <th>Předmět</th>
        <th>Disponibilní množství</th>
        <th>Blokované množství</th>
        <th>Celkové množství</th>
    </tr>
    </thead>
    <tbody>
        {% for balance in user.player.team.inventory %}
        <tr class="{{ balance.entity.css_class }}">
            <th>{{ balance.entity.name }}</th>
            <td>{{ balance.amount }}{{ balance.unit }}</td>
            <td>{{ balance.blocked }}{{ balance.unit }}</td>
            <th>{{ balance.total }}{{ balance.unit }}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>