{% load utils %}
{% if balance|length > 0 %}
<table class="table table-balance">
    <thead>
    <tr>
        <th>Předmět</th>
        <th>Disponibilní množství</th>
        <th>Blokované množství</th>
        <th>Celkové množství</th>
    </tr>
    </thead>
    <tbody>
        {% for balance in user.player.team.inventory %}
        {% if not balance.all_zero %}
            <tr class="{{ balance.entity.css_class }}">
                <th>{{ balance.entity|entity_link}}</th>
                <td>{{ balance.amount|quantity:balance.entity }}</td>
                <td>{{ balance.blocked|quantity:balance.entity }}</td>
                <th>{{ balance.total|quantity:balance.entity }}</th>
            </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
{% else %}
<tr>Zatím u sebe nemáte žádné předměty. Kde se flákáte?!</tr>
{% endif %}
