{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <link href = "{% static 'css/bootstrap.css' %}" rel = "stylesheet">
    <link href = "{% static 'css/main.css' %}" rel = "stylesheet">
    <title>{% block title %}Ekonomická hra{% endblock %}</title>
</head>
<body>

<nav class="navbar navbar-default navbar-static-top">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Ekonomická hra</a>
    </div>
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar">
            {% if user.is_authenticated %}
                {% if perms.core.play_game %}
                <li><a href="{% url 'team' %}">Informace o týmu</a></li>
                <li><a href="{% url 'auction/list' %}">Aukce</a></li>
                <li><a href="{% url 'black' %}">Černý trh</a></li>
                {% endif %}
                {% if perms.core.control_game  %}
                <li><a href="{% url 'control' %}">Ovládací panel</a></li>
                <li><a href="/admin">Administrace</a></li>
                {% endif %}
                <li><a href="{% url 'dashboard' %}">Nástěnka</a></li>
                <li><a href="{% url 'logout' %}">Odhlásit</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Přihlásit se</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="container">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</div>

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block scripts %}{% endblock %}

</body>
</html>