{% load utils %}
<div class="col-lg-6">
    <table class="table">
        <tbody>
        {% for status in statuses %}
            <tr class="text-{{ status.type }}">
                <td>{{ status.time|gametime }}</td>
                <td>{{ status.message }}</td>
            </tr>
        {% empty %}
            <tr class="text-info">
                <td colspan="2">Prosím vyčkejte začátku hry.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="col-lg-6">
    <table class="table table-balance">
        <thead>
        <tr>
            <th></th>
            {% for team in teams %}
            <th>{{ team.name }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
            {% for row in table %}
            <tr class="{{ row.0.entity.css_class }}">
                <th>{{ row.0.entity.name }}</th>
                {% for balance in row %}
                <td>{{ balance.total }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>