{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <link href = "{% static 'css/bootstrap.css' %}" rel = "stylesheet">
    <link href = "{% static 'css/main.css' %}" rel = "stylesheet">
    <title>{% block title %}Ekonomická hra{% endblock %}</title>
</head>
<body>

<div class="container-fluid">
    {% block content %}

    <div class="col-lg-6">
        {% for status in statuses %}
            <div class="alert alert-{{ status.type }}">{{ status.message }}</div>
        {% empty %}
            <div class="alert alert-info">Prosím vyčkejte začátku hry.</div>
        {% endfor %}
    </div>
    <div class="col-lg-6">
        <table class="table table-balance">
            <thead>
            <tr>
                <th></th>
                {% for team in teams %}
                <th>{{ team.name }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
                {% for row in table %}
                <tr class="{{ row.0.entity.css_class }}">
                    <th>{{ row.0.entity.name }}</th>
                    {% for balance in row %}
                    <td>{{ balance.total }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% endblock %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script>
    $.ekono.dashboard_refreshed = "{{ refreshed }}";
</script>

</body>
</html>