{% extends 'base.html' %}
{% load utils %}
{% block content %}
<table class="table table-balance">
    <thead>
    <tr>
        <th></td>
        <th></th>
        {% for team in teams %}
            <th>{{ team.name }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in table %}
        <tr class="{{ row.0.entity.css_class }}">
            <td>{{ row.0.entity|entity_icon }}</td>
            <th>{{ row.0.entity.name }}</th>
            {% for balance in row %}
                <td>{{ balance.total }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block scripts %}
    <script>
        setTimeout(function() { window.location.href = window.location.href; }, 5000);
    </script>
{% endblock %}